@font-face {
	font-family: "Neucha";
	font-weight: 400;
	src:
		local("Neucha"),
		url("/assets/fonts/neucha.ttf");
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	margin: 0;
	min-width: 320px;
	color: $text;
	font-family: "Neucha", sans-serif;
	font-size: 16px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;
}

p {
	margin: 0;
}

.accent {
	color: $accent;
}

.section {
	display: flex;
	flex-direction: column;
	padding: 32px;
	box-sizing: border-box;
}

@media (min-width: calc(480px + 32px * 2)) {
	body {
		font-size: 18px;
	}
}

@media (min-width: calc(1120px + (32px * 2))) {
	body {
		font-size: 20px;
		line-height: 32px;
	}

	.section {
		padding: 32px calc((100% - 1120px) / 2);
	}
}
