<template>
	<div class="page">
		<h1 class="page__title hidden">Сайт «Что? Цифруем!»</h1>
		<header class="page__header header section">
			<h2 class="header__title">Что? <span class="accent">Цифруем!</span></h2>
		</header>
		<main class="page__content content">
			<h2 class="content__title hidden">Главная страница</h2>
			<section class="content__cover cover section">
				<h3 class="cover__title hidden">Главный экран</h3>
				<article class="cover__article">
					<h4 class="cover__subtitle">Уровень <span class="accent">цифровизации</span> в разных странах</h4>
					<p class="cover__description">Мы собрали актуальную информацию по цифровизации государств! Взглянем?</p>
					<a class="cover__button" href="#">Давай посмотрим!</a>
					<a class="cover__link" href="#">Откуда взята информация?</a>
				</article>
			</section>
			<section class="content__rating rating section">
				<h3 class="rating__title hidden">Рейтинги</h3>
				<article class="rating__article">
					<h4 class="rating__subtitle">Общий <span class="accent">рейтинг</span></h4>
					<p class="rating__description">Набор знаний и умений, которые необходимы для безопасного и эффективного использования цифровых инструментов и технологий.</p>
					<table class="rating__table table">
						<caption class="table__title">Общий рейтинг</caption>
						<thead class="table__head">
						<tr class="table__row">
							<th class="table__cell">Страна</th>
							<th class="table__cell">Рейтинг</th>
						</tr>
						</thead>
						<tbody class="table__body">
						<tr class="table__row" v-for="entry in rank_rating">
							<td class="table__cell">{{ entry.russian_name }}</td>
							<td class="table__cell">{{ entry.rank }}</td>
						</tr>
						</tbody>
					</table>
				</article>
				<article class="rating__article">
					<h4 class="rating__subtitle">Цифровая <span class="accent">грамотность</span></h4>
					<p class="rating__description">Набор знаний и умений, которые необходимы для безопасного и эффективного использования цифровых инструментов и технологий.</p>
					<table class="rating__table table">
						<caption class="table__title">Цифровая грамотность</caption>
						<thead class="table__head">
						<tr class="table__row">
							<th class="table__cell">Страна</th>
							<th class="table__cell">Рейтинг</th>
						</tr>
						</thead>
						<tbody class="table__body">
						<tr class="table__row" v-for="entry in knowledge_rating">
							<td class="table__cell">{{ entry.russian_name }}</td>
							<td class="table__cell">{{ entry.knowledge }}</td>
						</tr>
						</tbody>
					</table>
				</article>
				<article class="rating__article">
					<h4 class="rating__subtitle">Развитие <span class="accent">цифровых технологий</span></h4>
					<p class="rating__description">Набор знаний и умений, которые необходимы для безопасного и эффективного использования цифровых инструментов и технологий.</p>
					<table class="rating__table table">
						<caption class="table__title">Развитие цифровых технологий</caption>
						<thead class="table__head">
						<tr class="table__row">
							<th class="table__cell">Страна</th>
							<th class="table__cell">Рейтинг</th>
						</tr>
						</thead>
						<tbody class="table__body">
						<tr class="table__row" v-for="entry in technology_rating">
							<td class="table__cell">{{ entry.russian_name }}</td>
							<td class="table__cell">{{ entry.technology }}</td>
						</tr>
						</tbody>
					</table>
				</article>
				<article class="rating__article">
					<h4 class="rating__subtitle">Перспективы <span class="accent">дальнейшего развития</span></h4>
					<p class="rating__description">Набор знаний и умений, которые необходимы для безопасного и эффективного использования цифровых инструментов и технологий.</p>
					<table class="rating__table table">
						<caption class="table__title">Перспективы дальнейшего развития</caption>
						<thead class="table__head">
						<tr class="table__row">
							<th class="table__cell">Страна</th>
							<th class="table__cell">Рейтинг</th>
						</tr>
						</thead>
						<tbody class="table__body">
						<tr class="table__row" v-for="entry in readiness_rating">
							<td class="table__cell">{{ entry.russian_name }}</td>
							<td class="table__cell">{{ entry.readiness }}</td>
						</tr>
						</tbody>
					</table>
				</article>
			</section>
		</main>
	</div>
</template>

<style lang="scss" scoped>
	.header {
		width: 100%;
		min-width: 320px;
		position: absolute;
		top: 0;
	}

	.header__title {
		font-size: 24px;
		text-align: center;
		line-height: 40px;
	}

	.cover {
		display: flex;
		justify-content: center;
		min-height: 100vh;
		//background: radial-gradient(65% 70% at 80% 25%, $gradient 0%, $background 100%), #FFF;
	}

	.cover__article {
		display: flex;
		flex-direction: column;
	}

	.cover__subtitle {
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 32px;
	}

	.cover__description {
		margin-bottom: 72px;
	}

	.cover__button {
		padding: 16px 24px;
		background-color: $accent;
		color: $background;
		text-decoration: none;
		border-radius: 4px;
		text-align: center;
		margin-bottom: 16px;
	}

	.cover__link {
		color: $light-text;
		text-decoration: none;
		text-align: center;
		transition: color 0.2s linear;
	}

	.cover__link:hover {
		color: $text;
	}

	.rating {
		display: grid;
		gap: 32px;
	}

	.rating__subtitle {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 16px;
	}

	.rating__description {
		margin-bottom: 24px;
	}

	.table {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 32px;
	}

	.table:last-child {
		margin: 0;
	}

	.table__title {
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}

	.table__cell {
		text-align: left;
		border-bottom: 2px solid $border;
		padding: 8px 0 4px 0;
		color: $light-text;
	}

	.table__head .table__cell {
		border-color: $text;
		color: $text;
	}

	.table__body > .table__row:last-child .table__cell {
		border: none;
	}

	@media (min-width: calc(480px + 32px * 2)) {
		.cover__article {
			max-width: 480px;
		}

		.rating {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (min-width: calc(1120px + 32px * 2)) {
		.cover__subtitle {
			font-size: 56px;
			line-height: 72px;
		}
		.rating {
			gap: 64px;
		}
	}
</style>

<script setup>
	const { data: rank } = await useFetch("/api/rank");
	const rank_rating = Object.values(rank)[3];

	const { data: knowledge } = await useFetch("/api/knowledge");
	const knowledge_rating = Object.values(knowledge)[3];

	const { data: technology } = await useFetch("/api/technology");
	const technology_rating = Object.values(technology)[3];

	const { data: readiness} = await useFetch("/api/readiness");
	const readiness_rating = Object.values(readiness)[3];
</script>
